<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading">Latest From Blog</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 margin20">
                    <div class="post-wrap wow animated fadeInLeft">
                        <a href="blog-post.html">                    
                        </a><!--post link--> 
                        <div class="post-desc">
                            <h4><a href="#">Is your AC ready for winter?</a></h4>
                            <p>
                                “In winter when the fields turn gray, listen to the Nate certified HVAC experts for what they might have to say!” As a responsible homeowner you might know that it is crucial to get your HVAC unit ready for summer...
                            </p>
                            <p><a href="blog-post.html">Read More...</a></p>
                        </div><!--post-desc-->
                    </div><!-- post wrap-->
                </div>
                <div class="col-md-4 margin20">
                    <div class="post-wrap wow animated fadeInLeft">
                        <a href="blog-post.html">                       
                        </a><!--post link--> 
                        <div class="post-desc">
                            <h4><a href="#">Seasonal allerrgies? Look into yur indoor air quality</a></h4>
                            <p>
                                The EPA estimates – indoor air quality can be 5 times more polluted than outdoor air. Air ducts and ventilation systems are the biggest contributing factors in poor indoor air quality. The tiny but mighty air ducts contain a host...
                            </p>
                            <p><a href="blog-post.html">Read More...</a></p>
                        </div><!--post-desc-->
                    </div><!-- post wrap-->
                </div>
                <div class="col-md-4 margin20">
                    <div class="post-wrap wow animated fadeInLeft">
                        <a href="blog-post.html">                       
                        </a><!--post link--> 
                        <div class="post-desc">
                            <h4><a href="#">Important question to ask when replacing your AC!</a></h4>
                            <p>
                               Perhaps your old HVAC system is worth repairing. Test and see. Also; get an estimate of repair costs versus replace cost. Now calculate all of the interrelated costs for instance system performance, system durability and system age to make an...
                            </p>
                            <p><a href="blog-post.html">Read More...</a></p>
                        </div><!--post-desc-->
                    </div><!-- post wrap-->
                </div>
            </div>
        </div><!--latest news-->
