<section class="testimonials parallax" data-stellar-background-ratio="0.5">
            <div class="container">

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div id="testi-carousel" class="owl-carousel owl-spaced">
                            <div>
                                <h4>
                                    <i class="fa fa-quote-left"></i> Ellis Air Conditioning replaced our existing system about 8 years ago in our old home. They did an excellent job and we never had a problem out of it. We had them install our heating and cooling system in the home we just built. They returned to balance the air free of charge and we love it. A+++
                                </h4>
                                <p>-M.Bishop</p>
                            </div><!--testimonials item like paragraph-->
                            <div>
                                <h4>
                                    <i class="fa fa-quote-left"></i>  
My husband and I needed a new air conditioner. After receiving several bids from local companies and careful consideration, we decided to go with Ellis Air Conditioning and Heating. The technician showed up on time, was very informative, and helped us make an educated decision on our new unit. We took great comfort in the fact that the company has been in the same family since 1975 and will continue to be in business if we have any future problems. We highly recommend Ellis to our friends and family and will continue to use them in the future.

                                </h4>
                                <p>-Jennifer W.</p>
                            </div><!--testimonials item like paragraph-->
                            <div>
                                <h4>
                                    <i class="fa fa-quote-left"></i> Hi Ellis Team (Fred, James, Mike, and Russell)

Thank you so much for the wonderful job at our home. You were very careful not to damage the floor and the walls. You were very polite, kind and knowledgeable in your conversation. Thanks again.
                                </h4>
                                <p>-Doctor Hageman</p>
                            </div><!--testimonials item like paragraph-->
                        </div>
                    </div>
                </div>
            </div>
        </section><!--testimonials-->
